/*organisations*/
body {
    background-color: #f0e68c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: 35em;
    -webkit-user-select: none; 
    -ms-user-select: none;     
    user-select: none;
}
#upgrades{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(1.5)
}
#game{
    display: flex;
    flex-direction: column;
    transform: scale(1.4)
}
#cookie {
    width: 22em;
    height: 22em;
    animation: spin 30s linear infinite;
    pointer-events: none;
}
#cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22em;
    height: 22em;
    transition: transform 150ms ease, filter 150ms ease;
    cursor: pointer;
    border-radius: 50%;
}
#cost, #auto_cost, #auto_cps, #click_power {
    font-size: 3em;
    font-family: Helvetica, sans-serif;
    margin: 0.5em;
}
#Number {
  display: block;
  font-size: 9em;
  font-family: Helvetica, sans-serif;
}
#title {
  font-size: 5em;
  font-family: Helvetica, sans-serif;
  animation: bounce 5s ease infinite;
}
/*colors&decor*/
#upgrade:hover,
#upgrade_max:hover,
#auto:hover,
#auto-max:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(0.92);
}
#upgrade:active,
#upgrade_max:active,
#auto:active,
#auto-max:active {
    transform: scale(0.95);
    filter: brightness(0.85);
}
#cookie-container:hover {
    cursor: pointer;
    transform: scale(1.01);
    filter: brightness(0.92);
}
#cookie-container:active {
    cursor: pointer;
    transform: scale(0.99);
    filter: brightness(0.92);
}
#upgrade,
#upgrade_max,
#auto,
#auto-max {
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    width: 10em;
    height: 3em;
    border-radius: 1em;
    background-color: green;
    color: white; 
    transition: transform 150ms ease, filter 150ms ease;
    margin: 10 px;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    25% {
        transform: translateY(-20px) rotate(-3deg);
    }
    50% {
        transform: translateY(0) rotate(0deg);
    }
    75% {
        transform: translateY(-10px) rotate(3deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}
